@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.weather-container {
  &.day-clouds {
    background: url("../assets/cloudy-day.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.night-clouds {
    background: url("../assets/cloudy-night.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.day-clear {
    background: url("../assets/clear-sky-day.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.night-clear {
    background: url("../assets/clear-sky-night.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.day-rain {
    background: url("../assets/rain.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.night-rain {
    background: url("../assets/rain.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__summary__container {
    overflow-y: auto;
    z-index: 10;
  }

  &__summary__container::-webkit-scrollbar {
    display: none;
  }

  &__summary {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  &__summary:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.12;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__location-box {
    gap: 5px;
    font-size: 20px;
    margin-top: 40px;
  }

  &__location-date {
    color: #ffffff;
  }

  &__temperature-value {
    font-size: 90px;
  }

  &__search {
    height: 50px;
    background-color: transparent;
    border-bottom: 1.5px solid white;
    outline: none;
    margin-top: 20px;
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
  }

  &__search::placeholder {
    color: #ffffff;
  }

  &__search-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__search-icon {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.weather-description {
  padding: 3rem;

  &__header {
    color: #ffffff;
  }
}

.weather-carousel {
  &__scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    transition: scroll-left 0.1s ease-out;
  }

  &__scroll-container::-webkit-scrollbar {
    display: none;
  }

  &__timestamps {
    width: 180%;
    display: flex;
  }
}

.three-day-weather {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 270px;
  width: 300px;
  align-self: flex-end;
  padding: 1rem;
}

.weather-next__text {
  padding: 5px;
}
.weather-next__text:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
